<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF=8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todo app</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
  <h1 style="margin-top: 50px" class="ui center aligned header">this is a todo app</h1>
  <form class="ui form" action="add" method="post">
    <div>
      <label for="title">todo title</label>
      <input type="text" name="title" placeholder="enter todo">
      <br>
      <button type="submit">add </button>
    </div>
  </form>

  {% for todo in todo_list %}
    <p> {{ todo.id }}  | {{ todo.title }} </p>

    {% if todo.complete == False %}
      <span class="ui gray label">Not Complete</span>
    {% else %}
      <span class="ui green label"> Completed </span>
    {% endif %}

    <a class="ui primary button" href="/update/{{ todo.id }}">Update</a>
    <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
  {% endfor %}
</body>
</html>